{% include 'header.twig' %}

<!-- Forget Password section -->
<div class="container">
	<section class="call-to-action center-div">
		{% if errorText %}
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ errorText }}
			</div>
		{% endif %}
		{% if successText %}
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">×</button>
				{{ successText }}
			</div>
		{% endif %}
		<div class="card form form-type1">
			<h2>Forget Password?</h2>
			<form id="login-form" action="#" method="post">
				<div class="input-group">
					<i data-lucide="user" class="input-icon"></i>
					<input type="text" name="user" id="user" placeholder="{{ lang['resetpassword.user'] }}" required>
				</div>

				{% if captcha %}
					<div class="form-group">
						<div class="g-recaptcha" data-sitekey="{{ captchaKey }}"></div>
					</div>
				{% endif %}

				<input type="hidden" name="crsf_token" value="{{ csrf_token() }}">

				<button type="submit" class="submit-btn">{{ lang['resetpassword.button'] }}</button>
			</form>

			<div class="create-account">
				Back to
				<a href="{{site[" url"]}}">login</a>
			</div>
		</div>
	</section>
</div>

<script>
	document.addEventListener("DOMContentLoaded", () => {
const lucide = window.lucide
lucide.createIcons()
})
</script>

{% include 'footer.twig' %}
