<!DOCTYPE html>
<html lang="en">

<head>
    <base href="{{ site['url'] }}/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    {% if site['keywords'] %}
    <meta name="keywords" content="{{ site['keywords'] }}">
    {% endif %}
    {% if meta_robots %}
    <meta name="robots" content="{{ meta_robots }}">
    {% endif %}
    {% if site['description'] %}
    <meta name="description" content="{{ site['description'] }}">
    {% endif %}
    {% if site['favicon'] %}
    <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
    {% endif %}
    {% if meta_header %}
    {{ meta_header }}
    {% endif %}
    {{ headerCode }}
</head>
<div style="display:none;" id="loadderr" class="container">
    <div class="row">
        <div style="margin:auto;" id="loading">
            <img id="loading-image" src="{{ site['url'] }}/public/ajax-loading.gif" alt="Loading..." />
            <br>
            <h3 id="processing">
                Processing Payment....
            </h3>
        </div>
    </div>
</div>

{% if user['auth'] %}

<body class="body ">
    <div class="wrapper  wrapper-sidebar-navbar ">
        <div id="block_357" class="component_private_navbar">
            <span class="component_private_navbar ">
                <div class="component-navbar-private__wrapper">
                    <div
                        class="sidebar-block__top-static component-navbar component-navbar__navbar-private editor__component-wrapper">
                        <div>
                            <nav class="navbar navbar-expand-lg navbar-light">
                                <div class="sidebar-block__top-brand">
                                    <div class="component-navbar-brand component-navbar-private-brand">


                                        <a style="margin-left:20px; " target="_self" class="navbar-brand"
                                            href="{{ site['url'] }}">


                                            <span style="text-transform: uppercase">
                                                <span style="font-size: 24px">
                                                    <span style="letter-spacing: 1.0px">
                                                        <span style="line-height: 48px">
                                                            {% if site["logo"] %}
                                                            <img style="max-width:200px;" src="{{ site['logo'] }}"
                                                                alt="" title="">
                                                            {% else %}
                                                            <p style="font-weight:700;">
                                                                {{ site["site_name"] }}
                                                            </p>
                                                            {% endif %}
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>


                                        </a>
                                    </div>
                                </div>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbar-collapse-34" aria-controls="navbar-collapse-34"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-burger">
                                        <span class="navbar-burger-line"></span>
                                    </span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbar-collapse-34">
                                    <div class="d-flex component-navbar-collapse">
                                        <ul class="navbar-nav navbar-nav-sidebar-menu">


                                            {% for page in pagesInformation %}

                                            {% set page_get = page["page_get"] %}
                                            {% set page_icon = page["page_icon"] %}


                                            <li
                                                class="nav-item component-navbar-nav-item component-navbar-private-nav-item {% if active_menu == page_get %} active{% endif %}">
                                                <a class="component-navbar-nav-link component-navbar-nav-link__navbar-private {% if active_menu == "
                                                    #{page_get}" %} component-navbar-nav-link-active__navbar-private {%
                                                    endif %}" href="{{site['url']}}/{{page_get}}">

                                                    <i style="margin-right: 5px;" class="{{ page_icon }}"></i>

                                                    {% set custom_page = page["custom_page"] %}
                                                    {% set page_name = page["page_name"] %}
                                                    {% if custom_page == 1 %}
                                                    {{ lang["#{page_get}.title"] }}
                                                    {% else %}
                                                    {{page_name}}
                                                    {% endif %}

                                                    {% if page_get == "tickets" %}
                                                    {% if ticketCount %}
                                                    <span style="background-color:yellow; color:black;" class="badge">{{
                                                        ticketCount }}
                                                    </span>
                                                    {% endif %}
                                                    {% endif %}
                                                </a>
                                            </li>

                                            {% endfor %}

                                            <li
                                                class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                                <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private"
                                                    href="{{ site['url'] }}/account"><i class="fad fa-user"
                                                        style="margin-right: 5px;"></i> Account</a>
                                            </li>
                                            <li
                                                class="nav-item component-navbar-nav-item component-navbar-private-nav-item">
                                                <a class="component-navbar-nav-link  component-navbar-nav-link__navbar-private"
                                                    href="{{ site['url'] }}/logout"><i class="fad fa-sign-out-alt"
                                                        style="margin-right: 5px;"></i> Logout</a>
                                            </li>
                                        </ul>

                                        <ul class="navbar-nav navbar-nav-currencies">

                                            <div class="balance-dropdown-container component_balance_dropdown">
                                                <div class="balance-dropdown">
                                                    <div class="balance-dropdown__name balance-dropdown__toggle"
                                                        data-toggle="dropdown" data-hover="dropdown"
                                                        aria-expanded="false">
                                                        {{convert_currency(user['balance'])}}
                                                    </div>
                                                    <ul class="balance-dropdown__container dropdown-menu"
                                                        id="currencies-list">
                                                        {% for currency in currencies %}

                                                        <li class="balance-dropdown__item">
                                                            <a href="{{ site['url'] }}?user_pref_curr={{currency['currency_name']}}"
                                                                class="currencies-item balance-dropdown__link">{{currency['currency_name']}}</a>
                                                        </li> {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </span>

            <span class="component_private_sidebar ">
                <div class="component-sidebar_wrapper ">
                    <div
                        class="sidebar-block__left component-sidebar component-sidebar-with-navbar editor__component-wrapper component_private_navbar">
                        <div class="component-sidebar__menu-wrapper">
                            <div class="sidebar-block__top-brand">
                                <div class="component-navbar-brand component-navbar-private-brand">
                                    <a style="margin-left:20px; " target="_self" class="navbar-brand"
                                        href="{{ site['url'] }}">


                                        <span style="text-transform: uppercase">
                                            <span style="font-size: 24px">
                                                <span style="letter-spacing: 1.0px">
                                                    <span style="line-height: 48px">
                                                        {% if site["logo"] %}
                                                        <img style="max-width:200px;" src="{{ site['logo'] }}" alt=""
                                                            title="">
                                                        {% else %}
                                                        <p style="font-weight:700;">
                                                            {{ site["site_name"] }}
                                                        </p>
                                                        {% endif %}
                                                    </span>
                                                </span>
                                            </span>
                                        </span>


                                    </a>

                                </div>
                            </div>
                            <ul class="component-sidebar__menu sidebar-block__left-menu">


                                {% for page in pagesInformation %}

                                {% set page_get = page["page_get"] %}
                                {% set page_icon = page["page_icon"] %}


                                <li class="component-sidebar__menu-item {% if active_menu == " #{page_get}" %}
                                    component-sidebar__menu-item-active {% endif %}">
                                    <a class="component-sidebar__menu-item-link" href="{{site['url']}}/{{page_get}}">
                                        <span class="component-sidebar__menu-item-name">
                                            <i style="margin-right: 5px;" class="{{ page_icon }}"></i>
                                            {% set custom_page = page["custom_page"] %}
                                            {% set page_name = page["page_name"] %}
                                            {% if custom_page == 1 %}
                                            {{ lang["#{page_get}.title"] }}
                                            {% else %}
                                            {{page_name}}
                                            {% endif %}

                                            {% if page_get == "tickets" %}
                                            {% if ticketCount %}
                                            <span style="background-color:yellow; color:black;" class="badge">{{
                                                ticketCount }}
                                            </span>
                                            {% endif %}
                                            {% endif %}
                                    </a>
                                </li>


                                {% endfor %}
                                <li class="component-sidebar__menu-item ">
                                    <a class="component-sidebar__menu-item-link" href="{{ site['url'] }}/account">
                                        <span class="component-sidebar__menu-item-name">
                                            <i style="margin-right: 5px;" class="fad fa-user"></i>
                                            Account

                                        </span></a>
                                </li>
                                <li class="component-sidebar__menu-item ">
                                    <a class="component-sidebar__menu-item-link" href="{{ site['url'] }}/logout">
                                        <span class="component-sidebar__menu-item-name">
                                            <i style="margin-right: 5px;" class="fad fa-sign-out-alt"></i>
                                            Logout

                                        </span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </span>

        </div>



        {% else %}


        <body class="body">
            <div class="wrapper  wrapper-navbar ">
                <div id="block_35">
                    <div class="block-wrapper">
                        <div class="component_navbar ">
                            <div class="component-navbar__wrapper">
                                <div
                                    class="sidebar-block__top component-navbar component-navbar__navbar-public editor__component-wrapper">
                                    <div class="container">
                                        <nav class="navbar navbar-expand-lg navbar-light">
                                            <div class="sidebar-block__top-brand">
                                                <div class="component-navbar-brand component-navbar-public-brand">
                                                    <a target="_self" href="{{ site['url'] }}">
                                                        <span style="text-transform: uppercase">
                                                            <span style="font-size: 24px">
                                                                <span style="letter-spacing: 1.0px">
                                                                    <span style="line-height: 48px">
                                                                        {% if site["logo"] %}
                                                                        <img style="max-width:200px;"
                                                                            src="{{ site['logo'] }}" alt="" title="">
                                                                        {% else %}
                                                                        <p style="font-weight:700;">
                                                                            {{ site["site_name"] }}
                                                                        </p>
                                                                        {% endif %}
                                                                    </span>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                            <br>
                                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                                data-target="#navbar-collapse-35" aria-controls="navbar-collapse-35"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                                <span class="navbar-burger">
                                                    <span class="navbar-burger-line"></span>
                                                </span>
                                            </button>
                                            <div class="collapse navbar-collapse" id="navbar-collapse-35">
                                                <div class="d-flex flex-wrap component-navbar-collapse">
                                                    <ul class="navbar-nav">


                                                        {% for page in pagesInformation %}

                                                        {% if page["page_status_non_auth"] == 2 %}
                                                        {% set page_get = page["page_get"] %}
                                                        {% set page_icon = page["page_icon"] %}


                                                        <li class="nav-item component-navbar-nav-item component_navbar component-navbar-public-nav-item    {% if active_menu == "
                                                            login" and page_get=="auth" %} active {% endif %} {% if
                                                            active_menu==page_get %} active {% endif %}">
                                                            <a class="component-navbar-nav-link component-navbar-nav-link__navbar-public"
                                                                href="{{ site['url'] }}/{{page_get}}">

                                                                <span style="margin-right:4px;"
                                                                    class="{{ page_icon }}"></span>


                                                                {% set custom_page = page["custom_page"] %}
                                                                {% set page_name = page["page_name"] %}
                                                                {% if custom_page == 1 %}
                                                                {{ lang["#{page_get}.title"] }}
                                                                {% else %}
                                                                {{page_name}}
                                                                {% endif %}


                                                            </a>
                                                        </li>

                                                        {% endif %}
                                                        {% endfor %}

                                                    </ul>

                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                {% endif %}