{% include 'header.twig' %}

<!-- Main Content -->
<section class="box">
	{% if contentText is not empty %}


		<div class="col-lg-12">
			<div class="faq-block__card">
				<div class="card">
					<div class="faq-block__header collapsed" data-toggle="collapse" data-target="#faq-block-252-4" aria-expanded="false" aria-controls="#faq-block-252-4">
						<div class="faq-block__header-title">
							<h4>INFORMATION</h4>
						</div>
						<div class="faq-block__header-icon">
							<div class="style-text-dark faq-block__icon" style></div>
						</div>
					</div>
					<div class="faq-block__body collapse" id="faq-block-252-4">
						<div class="faq-block__body-description" style="padding-top: 8px">
							{{ contentText }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<!-- Filter and Search -->
	<div
		class="search-filter-container">
		<div class="filter-dropdown">
			<button class="btn ghost" id="filterBtn">
				<i class="fas fa-filter"></i>
			</button>
			<div class="filter-menu" id="filterMenu">
				<div class="filter-menu-item" data-filter-category-id="All">All</div>
				{% for category in serviceCategory %}
					<div class="filter-menu-item" data-filter-category-id="{{ category["category_id"] }}" data-filter-category-name="{{ category["category_name"] }}">{{ category["category_name"] }}</div>
				{% endfor %}
			</div>
		</div>

		<div class="searchbar" style="flex: 1; margin-bottom: 0;">
			<i class="fas fa-search"></i>
			<input type="search" data-search-service="#service-table-21" placeholder="Type to search">
		</div>
	</div>

	<!-- Services Table -->
	<section class="table-container">
		<table class="table" id="service-table-21">
			<thead>
				<tr>
					{% if site["modules"]["favorite_services"] %}
						<th></th>
					{% endif %}
					<th>{{ lang['services.id'] }}</th>
					<th class="width-service-name">{{ lang['services.name'] }}</th>
					<th class="nowrap">{{ lang['services.price'] }}
						per 1000</th>
					<th class="nowrap">{{ lang['services.min'] }}</th>
					<th class="nowrap">{{ lang['services.max'] }}</th>
					{% if settings["service_avg_time"] != 1 %}
						<th class="nowrap">Average Time</th>
					{% endif %}
					<th class="nowrap">Description</th>
				</tr>
			</thead>
			<tbody>

				{% for category in serviceCategory %}

					<tr data-filter-table-category-id="{{ category["category_id"] }}">
						<td colspan="100%" class="style-bg-primary-alpha-20 style-text-primary services-category editor__component-wrapper">
							<span class="category-icon">
								{% if category['category_icon']['iconType'] == 'image' %}
									<img class="category-icon__img" src="{{ category['category_icon']['icon'] }}" alt="{{ category['category_name'] }}">
								{% endif %}
								{% if category['category_icon']['iconType'] == 'icon' %}
									<span class="category-icon__icon">
										<i class='{{ category['category_icon']['icon'] }}'></i>
									</span>
								{% endif %}
								{% if category['category_icon']['iconType'] == 'emoji' %}
									<span class="category-icon__emoji">{{ category['category_icon']['icon'] }}</span>
								{% endif %}
							</span>
							{{ category["category_name"] }}
						</td>
					</tr>
					{% for service in category['services'] %}
						<tr data-filter-table-category-id="{{ category["category_id"] }}">
							{% if site["modules"]["favorite_services"] %}
								<td>
									<span class="favouriteServiceToggle" data-service-id="{{ service["service_id"] }}">
										{% if service["isFav"] %}
											<i class="fas fa-star"></i>
										{% else %}
											<i class="far fa-star"></i>
										{% endif %}

									</span>
								</td>
							{% endif %}
							<td data-filter-table-service-id="{{ service["service_id"] }}">{{ service["service_id"] }}</td>
							<td class="table-service" data-filter-table-service-name="true">{{ service["service_name"] }}</td>

							<td>
								{{convert_currency(service["service_price"])}}

							</td>
							<td>{{ service["service_min"] }}</td>
							<td>{{ service["service_max"] }}</td>
							{% if settings["service_avg_time"] != 1 %}
								<td>{{ service["service_avg_time"] }}</td>
							{% endif %}
							<td>
								<!-- Modal -->
								{% if service["service_description"] %}
									<div class="modal fade" id="servis{{ service[" service_id"] }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
										<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="exampleModalLabel">{{ service["service_name"] }}
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">×</span>
													</button>
												</div>
												<div class="modal-body text-left">
													<p class="detail-data details-split-959">
														{{ service["service_description"] }}
													</p>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-actions" data-dismiss="modal">Close</button>
												</div>
											</div>
										</div>
									</div>

									<a href="javascript:void(0)" data-toggle="modal" data-target="#servis{{service[" service_id"] }}">
										<button class="btn primary">
											View
										</button>
									</a>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</section>
</div></section><script>
document.addEventListener('DOMContentLoaded', function () {
const filterBtn = document.getElementById('filterBtn');
const filterMenu = document.getElementById('filterMenu');
const filterMenuItems = document.querySelectorAll('.filter-menu-item');
const tableRows = document.querySelectorAll('table tbody tr');

// Toggle filter dropdown
filterBtn.addEventListener('click', function (event) {
event.stopPropagation(); // Prevents the click from triggering document click
filterMenu.classList.toggle('show');
});

// Close dropdown when clicking outside
document.addEventListener('click', function (event) {
if (! filterBtn.contains(event.target) && ! filterMenu.contains(event.target)) {
filterMenu.classList.remove('show');
}
});

// Filter logic
filterMenuItems.forEach(item => {
item.addEventListener('click', function () {
const filterValue = this.textContent.toLowerCase();
filterBtn.querySelector('span').textContent = filterValue;

// Hide dropdown
filterMenu.classList.remove('show');

// Filter table rows
tableRows.forEach(row => {
const status = row.querySelector('td:nth-child(7)').textContent.toLowerCase();
if (filterValue === 'all orders' || status === filterValue) {
row.style.display = '';
} else {
row.style.display = 'none';
}
});
});
});
});</script>{% include 'footer.twig' %}
